package components

templ Header() {
    <header>
        <hgroup>
            <h1>Cinematch.</h1>
            <p>Find your next movie, just like you used to</p>
        </hgroup>
        <hr />
    </header>
}
