package components

templ Header() {
    <header>
        <a href="/home" style="all: unset; cursor: pointer;">
            <hgroup>
                <h1>Cinematch 🎥</h1>
                <p>Find your next movie</p>
            </hgroup>
        </a>
    </header>
}
