.htmx-indicator {
    opacity:0;
    transition: opacity 150ms ease-in;
}

.htmx-request .htmx-indicator{
    opacity:1;
}
.htmx-request.htmx-indicator{
    opacity:1;
}

.hidden {
    display: none;
}

.movie-result-poster {
    max-width: 100px;
}

.search-result-row:hover {
    background-color: #111;
}

.table-action-icon {
    font-size: xx-large;
}

.recommendations-container {
    display: flex;
    flex-direction: column;
    align-items: start;

    width: 100%;
    height: 100%;
}

.recommendations-title {
    margin-top: 20px;
    margin-bottom: 40px;
    text-decoration: underline;
}

.recommendations-buttons {
    display: flex;
    flex-direction: column;
    /* justify-content: space-around; */
    gap: 2em;
    width: fit-content;
    flex: 1;
    height: 100%;
    margin-left: 30px;
}

.recommendations-buttons button {
    flex: 1;
    min-width: 120px;
    max-height: 100px;
}

.recommendations-video-iframe {
    flex: 9;
    aspect-ratio: 16 / 9;
}

.recommendation-progress-nav {
    display: flex;
    flex-direction: row;
    align-items: start;
    justify-content: space-between;
    width: 100%;
}

.recommendation-progress-banner-list {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

.recommendation-progress-banner-trailer-list-item {
    cursor: pointer;
    padding: 4px;
}

.recommendations-trailer-buttons-container {
    display: flex;
    flex-direction: row;
    align-items: start;
    justify-content: space-between;
    width: 100%;
}

.recommendation-progress-banner-trailer-poster {
    max-width: 60px;
}

.recommendation-progress-banner-trailer-connector {
    opacity: 0.4;
    font-size: x-large;
}

.blur {
    filter: blur(2px);
    opacity: 0.5;
}

.blur:hover {
    filter: blur(0px);
    opacity: 1;
}

.active {
    filter: blur(0px);
    opacity: 1;
    border: 1px dotted #fff;
    border-radius: 4px;
}

.liked {
    filter: blur(1px);
    opacity: 1;
}

.recommendation-progress-banner-trailer-list-item-poster-container {
    position: relative;
}

.recommendation-progress-banner-trailer-like-icon {
    position: absolute;
    bottom: -15;
    right: -15;
    color: var(--pico-color-purple-600);
}

.summary-icon {
    font-size: 3em;
}
.summary-icon:hover {
    color: var(--pico-color-purple-600);
}

.summary-item::before {
    display: none;
}

.summary-item {
    cursor: pointer;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 4px;
}

.disabled {
    opacity: 0.5;
    cursor: none;
    pointer-events: none;
}
