.recommendations-container {
    display: flex;
    flex-direction: column;

    width: 100%;
    height: 100%;

    gap: 30px;
    
    margin-bottom: 30px;
}

.recommendations-buttons-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    gap: 2em;
    width: fit-content;
    align-self: flex-start;
}

.recommendations-buttons-container button {
    flex: 1;
    width: 200px;
    height: 70px;
    /* border-radius: 50%; */
}

#recommendations-video-container {
    flex: 9;
    width: 100%;
    aspect-ratio: 16 / 9;
}

#recommendations-video-iframe {
    width: 100%;
    aspect-ratio: 16 / 9;
}

.recommendations-trailer-buttons-container {
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: space-between;
    width: 100%;
    flex: 1;
    gap: 30px;
}

.recommendations-trailer-actions-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
}

.watch-providers-streaming-list {
    display: flex;
    flex-direction: row;
    gap: 10px;
}

.watch-providers-streaming-list figure {
    width: 100px;
    overflow: hidden;
}

.watch-providers-streaming-list figure small {
    width: 100%;
    font-size: 0.5em;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

#watch-options-container {
    width: 100%;
}

#watch-providers-options {
    margin-inline: 15px;
}