package components

css footer () {
    margin-top: 50px;
    display: relative;
    bottom: 0;
    width: 100%;
}

templ Footer() {
    <footer class={ footer() }>
        <hr />
        <small>2025 SomeFunCompany Trademark Here</small>
    </footer>
}